.nav {
    font-family: "Bebas Neue", sans-serif;
    position: fixed;
    top: 0;
    right: 100px;
    transition: width 0.5s;
    border : {
        bottom: {
            style: solid;
            width: 4px;
            color: #fc0;
        }
    }
    ul {
        position: relative;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        transition: font-size 0.5s ease;
        font: {
            size: 3rem;
        }
        li {
            float: left;
            span {
                cursor: pointer;
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                &:hover {
                    transition: color 1s ease;
                    color: #ff0;
                }
            }
        }
    }
    &.small {
        background-color: #253237;
        display: flex;
        right: 0;
        transition: border 0.5s;
        padding: {
            right: 100px;
        }
        top: 0;
        width: 100dvw;
        transition: width 0.5s;
        justify-content: flex-end;
        ul {
            transition: font-size 0.5s ease;
            font: {
                size: 2rem;
            }
        }
    }
}

@media screen and (max-width: 640px) {
    .nav {
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: flex-end;
        transition: none;

        ul {
            font: {
                size: 1.5rem;
            }
        }
        &.small {
            transition: none;
            ul {
                font: {
                    size: 1.5rem;
                }
            }
        }
    }
}
