.history {
    width: 1080px;
    height: 100px;
    margin: auto;
    display: flex;
}
.company-logo {
    display: block;
    width: 70px;
    height: 70px;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        border: {
            radius: 45px;
        }
    }
}
