.stack {
    box-sizing: border-box;
    padding-left: 1rem;
    position: absolute;
    left: 0;
    margin: 4rem 0;
    width: 300px;
    h1 {
        color: #fc0;
        text-align: left;
    }
    ul {
        list-style-type: none;
        text-align: left;
        color: white;
        padding: 0;
        li {
            padding: 0.3rem 0;
            line-height: 1.5em;
            display: flex;
            img {
                width: 20px;
                height: 20px;
                margin-right: 1rem;
            }
        }
    }
}

@media screen and (max-width: 932px) {
    .stack {
        margin: 0;
    }
}
