.contact-container {
    display: flex;
    flex-direction: column;
    z-index: 10;
    margin: {
        top: 30rem;
        left: 15rem;
    }
    float: left;
    h1 {
        color: #fc0;
        letter-spacing: 0.2rem;
        font: {
            weight: 400;
            size: 3rem;
            family: "Bebas Neue", sans-serif;
        }
    }
    ul {
        z-index: 5;
        list-style-type: none;
        text-align: left;
        color: white;
        li {
            padding: 0.5rem 0;
        }
        a {
            text-decoration: none;
            color: #fc0;
            z-index: 1000;
            cursor: pointer;
        }
    }
}
