@import "../../theme.scss";
.contact-container {
    display: flex;
    flex-direction: column;
    z-index: 10;
    margin: {
        top: 30rem;
        left: 15rem;
    }
    float: left;
    h1 {
        color: $primary;
        letter-spacing: 0.2rem;
        font: {
            weight: 400;
            size: 3rem;
            family: "Bebas Neue", sans-serif;
        }
    }
    ul {
        z-index: 5;
        list-style-type: none;
        text-align: left;
        color: $bright;
        li {
            padding: 0.5rem 0;
        }
        a {
            text-decoration: none;
            color: $primary;
            z-index: 1000;
            cursor: pointer;
        }
    }
}

@media screen and (max-width: $xs) {
    .contact-container {
        margin: {
            top: 0;
            left: 0;
        }
    }
}
