.container {
  text-align: center;
  width: 100%;
  height: 100dvh;

  background: #253237;
  .education-header {
    float: right;
    color: white;
    margin: 5rem;
  }
}

@media screen and (max-width: 932px) {
  .stack-container {
    display: none;
  }
}
